.dashboard-block {
  padding: 0px 100px 100px 100px;
}

.block-well {
  background-color: #ECECEC;
  border-radius: 5px;
  min-height: 43vh;
  padding-right: 10px;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
}
.block-well-header {
  padding-bottom: 5px;
  padding-top: 20px;
}

.block-well-header .status {
  background: green;
  border: 2px solid green;
  border-radius: 50px;
  color: white;
  text-align: right;
}

.block-well-footer {
  text-align: center;
  padding: 10px 10px 0px 10px;
}
.block-well-footer span {
  cursor: pointer;
  padding-right: 10px;
}



