.loginbox .info{
  margin-top: 17vh;
  margin-bottom: 2vh;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  background: #84B4EC;
  height: 500px;
  border: none;
  opacity: 1;
}

.panel-heading {
  background-color: #334d7e;
}

.loginbox .login-title {
  padding: 20px 0px;
  text-transform: uppercase;
  font-weight: bold;
}

.center-block {
  background: #44D1DB;
  border: none;
}


