
.push_right {
  margin-left: 200px;
}

.topbar {
  background-color: #334D7F;
  padding: 10px;
}

.group-link {
  color: white;
  padding-right: 45px;
}

.group-link a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}

* {
  font-family: Arial;
}
